<div class="body">
    <div class="btn-group btn-group-justified">
      <a href="#" class="btn btn-primary btn-custom" data-toggle="modal" (click)="resetaJogo()">Reiniciar</a>
      <a href="#" class="btn btn-primary btn-custom" (click)="finalizaRodada(true)">Passar</a>
    </div>
    <div class="container">
        <!-- Modal -->
        <div class="modal fade {{modalInitialStatus}}" id="modalInicial" role="dialog">
          <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">FORÇA PALAVRA - O JOGO</h4>
              </div>
              <div class="modal-body">
                <input class="form-control form-nomes" type="text" placeholder="Nome jogador 1" #jogador1 autofocus><br>
                <input class="form-control form-nomes" type="text" placeholder="Nome jogador 2" #jogador2>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" (click)="iniciaJogo(jogador1.value, jogador2.value)">Iniciar jogo...</button>
              </div>
            </div>

          </div>
        </div>
      </div>
    <div class="container">
      <!-- Modal -->
      <div class="modal fade {{modalAlertStatus}}" id="myModal" role="dialog">
        <div class="modal-dialog">
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" (click)="fechaModal()">&times;</button>
              <h4 class="modal-title">RESUMO DA RODADA</h4>
            </div>
            <div class="modal-body">
              {{modalAlertTexto1}}
              {{modalAlertTexto2}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" (click)="fechaModal()">Continuar jogo...</button>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="container">
      <h6 class="textoCentralizadoTopo">Pontuação do jogo</h6>
      <h5 class="textoCentralizadoTopo">{{nomeJogador1}}: {{pontuacaoJogador1}} - {{nomeJogador2}}: {{pontuacaoJogador2}}</h5>
    </div>
    <div class="container">
      <app-foto (click)="trocaFoto()" url="{{src}}"></app-foto>
    </div>
    <div class="container">
      <div class="inner">
        <div *ngFor="let item of arrayResposta; index as i;" class="itemLetra {{posicaoPalavraAtiva(i)}}" id="{{i}}" (click)="alteraPosicao(i)">{{arrayResposta[i]}}</div>
      </div>
    </div>
    <div class="container">
      <div class="center-block pontuacaoRodada">
          <h5>Pontuação Rodada</h5>
          <h3 class="textoCentralizado">{{pontuacaoRodada}}</h3>
      </div>
      <div class="center-block base">
        <img id="imgSel" class="{{display}}" src="{{imagemSelecionada}}">
      </div>
      <div class="center-block speaker" (click)="executaAudio()">
          <img _ngcontent-c1="" class="img-responsive center-block" src="../assets/img/speaker.png" alt="speaker">
      </div>
    </div>
    <div id="myCarousel" class="carousel">
      <div class="carousel-inner">
        <div class="item active">
          <img class="img-inline1" src="../assets/img/alfabeto/A.png" id="A" #a (click)="clickLetra(a.id)">
          <img class="img-inline2" src="../assets/img/alfabeto/B.png" id="B" #b (click)="clickLetra(b.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/C.png" id="C" #c (click)="clickLetra(c.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/D.png" id="D" #d (click)="clickLetra(d.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/E.png" id="E" #e (click)="clickLetra(e.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/F.png" id="F" #f (click)="clickLetra(f.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/G.png" id="G" #g (click)="clickLetra(g.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/H.png" id="H" #h (click)="clickLetra(h.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/I.png" id="I" #i (click)="clickLetra(i.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/J.png" id="J" #j (click)="clickLetra(j.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/K.png" id="K" #k (click)="clickLetra(k.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/L.png" id="L" #l (click)="clickLetra(l.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/M.png" id="M" #m (click)="clickLetra(m.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/N.png" id="N" #n (click)="clickLetra(n.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/O.png" id="O" #o (click)="clickLetra(o.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/P.png" id="P" #p (click)="clickLetra(p.id)">
        </div>
        <div class="item">
            <img class="img-inline1" src="../assets/img/alfabeto/Q.png" id="Q" #q (click)="clickLetra(q.id)">
            <img class="img-inline2" src="../assets/img/alfabeto/R.png" id="R" #r (click)="clickLetra(r.id)">
        </div>
        <div class="item">
          <img class="img-inline1" src="../assets/img/alfabeto/S.png" id="S" #s (click)="clickLetra(s.id)">
          <img class="img-inline2" src="../assets/img/alfabeto/T.png" id="T" #t (click)="clickLetra(t.id)">
        </div>
        <div class="item">
          <img class="img-inline1" src="../assets/img/alfabeto/U.png" id="U" #u (click)="clickLetra(u.id)">
          <img class="img-inline2" src="../assets/img/alfabeto/V.png" id="V" #v (click)="clickLetra(v.id)">
        </div>
        <div class="item">
          <img class="img-inline1" src="../assets/img/alfabeto/W.png" id="W" #w (click)="clickLetra(w.id)">
          <img class="img-inline2" src="../assets/img/alfabeto/X.png" id="X" #x (click)="clickLetra(x.id)">
        </div>
        <div class="item">
          <img class="img-inline1" src="../assets/img/alfabeto/Y.png" id="Y" #y (click)="clickLetra(y.id)">
          <img class="img-inline2" src="../assets/img/alfabeto/Z.png" id="Z" #z (click)="clickLetra(z.id)">
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="container rodape">
        <h5>{{textoJogo}}</h5>
      </div>
</div>
